.bgbg {
    // background: linear-gradient(to bottom, #ace2f9, #28a4dd, #ace2f9);
    background: #98d4ff;
}

.cerita {
    position: relative;
    z-index: 8;
    padding: 32px 0;
    // background: #000;
    // background: #2b4138;
    // background: linear-gradient(to bottom, #e9d2a8, transparent, #e9d2a8);
    // background: #c9a562;
    font-family: 'Poppins';

    // background: url('../img/gedungx.png');
    // &::before {
    //     content: '';
    //     position: fixed;
    //     top: 0;
    //     left: 0;
    //     bottom: 0;
    //     background: url('../img/gedungx.png');
    // }
    .bg-hijau {
        // background: #2b4138;
    }

    &__bg {
        position: absolute;
        // display: none;
        top: 0px;
        left: 0;
        opacity: .6;
        right: 0;
        z-index: 2;
        width: 100%;
        height: 100%;
        filter: grayscale(1);

        .testi {
            width: 100%;
            height: 100%;
        }

        img {
            width: 100%;
            height: 100%;
            object-fit: contain;
        }
    }

    .gsap-anim {}

    .imagex {
        margin-bottom: 16px;
        height: 360px;

        @media screen and (max-width: 766px) {
            height: 320px;
            margin-bottom: 4px;
        }

        img {
            width: 100%;
            height: 100%;
            object-fit: cover;
        }
    }

    // background: linear-gradient(to bottom, #f5f6f6, black);
    .titlex-lala {
        text-align: center;
        font-weight: bold;
        font-family: 'Poppins';
        color: #32debe;
        font-size: 2.5rem;
        // text-shadow: -2px 2px #80d8ff;
        // border: 4px dashed;
        width: fit-content;
        margin: 0 auto 16px;
        padding: 4px 8px;

        @media screen and (max-width: 766px) {
            font-size: 2rem;
        }
    }

    h2 {
        font-weight: 600;
        font-size: 2rem;
        font-family: 'Poppins';
    }

    p {
        @media screen and (max-width:1440px) {
            // font-size: .8rem;

        }

        font-family: 'Poppins';
        // line-height: 1.75rem;
        color: #222;
        letter-spacing: 0.0225rem;

        @media screen and (max-width: 766px) {
            font-size: .85rem;
            line-height: 1.3rem;
            letter-spacing: initial;
        }
    }

    .cardx {
        display: flex;
        justify-content: space-around;
        align-items: center;
        padding: 60px;
        position: relative;

        .petax {
            position: absolute;
            left: 0;
            right: 0;
            top: 0;
            bottom: 0;
            width: 100%;
            height: 100%;
            z-index: 1;

            @media screen and (max-width: 766px) {
                width: 100%;
            }

            &::before {
                content: "";
                position: absolute;
                bottom: 0;
                left: 0;
                top: 0;
                right: 0;
                width: 100%;
                height: 100%;
                // background: linear-gradient(to top, #f5f6f6, transparent);
            }

            img {
                width: 100%;
                height: 100%;
                object-fit: contain;
            }
        }

        @media screen and (max-width:766px) {
            display: block;
            padding: 16px !important;
        }
    }

    .cardx--reverse {
        flex-direction: row-reverse;

        .cardx__img-holder {
            &::before {
                left: 8px;
                bottom: -8px;
                top: 8px;
                right: -8px;

                @media screen and (max-width: 766px) {
                    left: 8px;
                    bottom: -8px;
                    top: 8px;
                    right: -8px;
                }
            }
        }
    }

    @keyframes warna {

        0%,
        100% {
            background: #e9d2a8;
        }

        50% {
            background: #e9d2a8;
        }
    }

    .cardx__img-holder {
        // width: 35%;
        width: 50%;
        height: 75vh;
        position: relative;
        z-index: 18;
        // border: 2px solid white;
        margin: 8px;
        padding: 16px;
        border-radius: 16px;
        // background: #607d8b;
        background: transparent;

        // animation: warna 2s linear infinite;
        .test {
            position: absolute;
            left: 14%;
            top: 37%;
            // font-weight: bold;

            // background: white;
            // padding: 2px;
            // border-radius: 4px;
            @media screen and (max-width:766px) {
                font-size: 12px;
            }
        }


        @keyframes MoveUpDown {

            0% {
                left: 14%;
                top: 48%;
                opacity: 0;
            }

            15% {
                left: 14%;
                top: 48%;
                opacity: 1;
            }

            50% {
                left: 30%;
                top: 36%;
                opacity: 1;
            }

            70% {
                left: 50%;
                top: 40%;
                opacity: 1;
            }

            85% {
                left: 66%;
                top: 50%;
                opacity: 1;
            }

            90% {
                left: 66%;
                top: 50%;
                opacity: .5;
            }



            100% {
                left: 66%;
                top: 50%;
                opacity: 0;
            }
        }

        @keyframes MoveUpDownMob {

            0% {
                left: 14%;
                top: 45%;
                opacity: 0;
            }

            10% {
                left: 14%;
                top: 45%;
                opacity: 1;
            }

            50% {
                left: 30%;
                top: 33%;
                opacity: 1;
            }

            75% {
                left: 50%;
                top: 37%;
                opacity: 1;
            }

            85% {
                left: 66%;
                top: 52%;
                opacity: 1;
            }

            90% {
                left: 66%;
                top: 52%;
                opacity: 1;
            }

            100% {
                left: 66%;
                top: 52%;
                opacity: 0;
            }

            // 100% {
            //     left: 68%;
            //     top: 47%;
            // }
        }

        @keyframes MoveUpAwan {

            0%,
            100% {
                left: 40%;
            }

            50% {
                left: 45%;
            }
        }

        @keyframes MoveUpAwan2 {

            0%,
            100% {
                right: 20%;
            }

            50% {
                right: 25%;
            }
        }

        @keyframes MoveUpOmbak {

            0%,
            100% {
                left: 50%;
            }

            50% {
                left: 45%;
            }
        }

        @keyframes MoveUpOmbak2 {

            0%,
            100% {
                left: 25%;
            }

            50% {
                left: 32%;
            }
        }

        .test-awan {
            position: absolute;
            top: 20%;
            left: 40%;
            width: 100px;
            opacity: 1;
            animation: MoveUpAwan 8.5s linear infinite;

            img {
                width: 100%;
                height: 100%;
                object-fit: contain;
            }
        }

        .test-ombak {
            position: absolute;
            bottom: 15%;
            left: 50%;
            width: 40px;
            opacity: 1;
            animation: MoveUpOmbak 4.5s linear infinite;

            img {
                width: 100%;
                height: 100%;
                object-fit: contain;
            }
        }

        .test-ombak2 {
            position: absolute;
            bottom: 20%;
            left: 25%;
            width: 40px;
            opacity: 1;
            animation: MoveUpOmbak2 4.5s linear infinite;

            img {
                width: 100%;
                height: 100%;
                object-fit: contain;
            }
        }

        .test-awan2 {
            position: absolute;
            top: 32%;
            right: 20%;
            width: 60px;
            transform: translateX(100deg);
            animation: MoveUpAwan2 6.5s linear infinite;

            img {
                width: 100%;
                height: 100%;
                object-fit: contain;
            }
        }

        .test-pesawat {
            // position: absolute;
            // left: 25%;
            // top: 32%;
            // width: 80px;
            // animation: MoveUpDown 2.5s linear infinite;

            position: absolute;
            left: 14%;
            top: 48%;
            width: 80px;
            animation: MoveUpDown 6.5s linear infinite;
            z-index: 35;

            @media screen and (max-width:766px) {
                width: 40px;
                top: 45%;
                animation: MoveUpDownMob 6.5s linear infinite;
            }

            img {
                width: 100%;
                height: 100%;
                object-fit: contain;
            }
        }

        .test2 {
            position: absolute;
            right: 20%;
            top: 44%;

            @media screen and (max-width:766px) {
                font-size: 12px;
            }
        }

        .test3 {
            position: absolute;
            right: 0%;
            top: 49%;

            @media screen and (max-width:766px) {
                font-size: 12px;
            }
        }

        .test4 {
            position: absolute;
            right: 8%;
            top: 40%;

            @media screen and (max-width:766px) {
                font-size: 12px;
            }
        }

        @keyframes MoveMobil {

            0% {
                top: 54%;
                left: 14%;
                opacity: .6;
            }

            10% {
                top: 54%;
                left: 14%;
                opacity: 1;
            }


            30% {
                top: 55%;
                left: 30%;
                opacity: 1;
            }

            55% {
                top: 55%;
                left: 45%;
                opacity: 1;
            }

            65% {
                top: 55%;
                left: 50%;
                opacity: 1;
            }

            75% {
                top: 53%;
                left: 55%;
                opacity: 1;
            }

            85% {
                top: 50%;
                left: 80%;
                opacity: 1;
            }
            
            90% {
                top: 50%;
                left: 80%;
                opacity: 0;
            }

            99% {
                top: 50%;
                left: 80%;
                opacity: 0;
            }
            100% {
                top: 50%;
                left: 80%;
                opacity: 0;
            }

            // 80% {

            // }
        }

        @keyframes MoveMobilMob {

            0% {
                top: 50%;
                left: 14%;
                opacity: .6;
            }

            10% {
                top: 50%;
                left: 14%;
                opacity: 1;
            }


            30% {
                top: 52%;
                left: 30%;
                opacity: 1;
            }

            55% {
                top: 52%;
                left: 45%;
                opacity: 1;
            }

            65% {
                top: 53%;
                left: 50%;
                opacity: 1;
            }

            75% {
                top: 53%;
                left: 55%;
                opacity: 1;
            }

            85% {
                top: 50%;
                left: 80%;
                opacity: 1;
            }
            
            90% {
                top: 50%;
                left: 80%;
                opacity: 0;
            }

            99% {
                top: 50%;
                left: 80%;
                opacity: 0;
            }
            100% {
                top: 50%;
                left: 80%;
                opacity: 0;
            }

            // 80% {

            // }
        }

        .test-mobil {
            position: absolute;
            left: 14%;
            // transition: .3s;
            top: 54%;
            width: 54px;
            z-index: 8;
            opacity: 1;
            animation: MoveMobil 6.5s linear infinite;
            @media screen and (max-width:766px) {
                width: 34px;
                animation: MoveMobilMob 5.5s linear infinite;
            }

            img {
                width: 100%;
                height: 100%;
                object-fit: contain;
            }
        }

        &::before {
            content: "";
            position: absolute;
            left: -8px;
            bottom: -8px;
            top: 8px;
            right: 8px;
            border-radius: 4px;
            // background: #4b7644; 
            // background: #dce775;
            // border: 2px solid #4b7644;
            z-index: 2;

            @media screen and (max-width: 766px) {
                left: -8px;
                bottom: -8px;
                top: 8px;
                right: 8px;
            }
        }

        @media screen and (max-width:766px) {
            width: 100%;
            height: 40vh;
            margin: 8px;
            // margin-bottom: 16px;
            // clip-path: polygon(15% 0%, 100% 0%, 85% 100%, 0% 100%);
        }

        //   background-color: red;
        img {
            width: 100%;
            height: 100%;
            position: relative;
            z-index: 3;
            border-radius: 4px;
            object-fit: contain;
        }
    }

    .cardx__text {
        width: 400px;
        position: relative;
        z-index: 18;

        @media screen and (max-width: 766px) {
            // text-align: center;
        }

        .tes-skew {
            // transform: skew(-20deg, 0deg);
            // p {
            //   transform: skew(20deg,0);
            // } 
        }

        .tes-judul {
            // background: #cfcfcf;
            // width: fit-content;
            // padding: 4px 24px;
            color: #222;
            position: relative;

            &::before {
                content: "";
                position: absolute;
                bottom: -12px;
                left: 0;
                width: 80px;
                height: 2px;
                background: #222;
            }

            @media screen and (max-width: 766px) {
                // margin: 16px auto 8px;
                display: block;
                // text-align: center;
            }

            // background: #80d8ff;
            // width: fit-content;
            // padding: 4px 24px;
            // color: #01579b;
            margin-bottom: 24px;

            // transform: skew(-20deg, 0);
            h2 {
                // transform: skew(20deg, 0);
                margin-bottom: 0;
            }
        }

        @media screen and (max-width:766px) {
            width: 100%;
        }
    }
}

.lewat {
    position: absolute;
    bottom: 32px;
    right: 32px;

    &.leftx {
        right: initial;
        left: 32px;

        .image {

            // width: 125px;
            // height: auto;
            img {
                width: 100%;
                height: 100%;
                object-fit: contain;
            }
        }
    }

    @media screen and(max-width:766px) {
        bottom: -72px;
    }

    .image {
        width: 200px;
        height: auto;

        img {
            width: 100%;
            height: 100%;
            object-fit: contain;
        }
    }
}