/* Error: $alpha: Expected 0.7de to have no units or "%".
 *     ,
 * 462 |             background: rgba($color: white, $alpha: .7de);
 *     |                         ^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^
 *     '
 *   gsap.scss 462:25  @import
 *   style.scss 3:9    root stylesheet */

body::before {
  font-family: "Source Code Pro", "SF Mono", Monaco, Inconsolata, "Fira Mono",
      "Droid Sans Mono", monospace, monospace;
  white-space: pre;
  display: block;
  padding: 1em;
  margin-bottom: 1em;
  border-bottom: 2px solid black;
  content: 'Error: $alpha: Expected 0.7de to have no units or "%".\a     \2577 \a 462 \2502              background: rgba($color: white, $alpha: .7de);\d\a     \2502                          ^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^\a     \2575 \a   gsap.scss 462:25  @import\a   style.scss 3:9    root stylesheet';
}
