.supported {
    background: #6da579;
    // background: url('../img/bg-logo-history.png');
    min-height: auto;

    h3 {
        font-family: 'Montserrat';
        font-size: 1.5rem;
        font-weight: normal;

        @media screen and (max-width:766px) {
            font-size: 1.2rem;
        }

    }

    .img {
        margin: 8px auto;
        text-align: center;
    }

    .all {
        margin-bottom: 8px;
    }

    .job {
        // color: #ccc;
    }

    .namex {
        font-weight: bold;
        font-family: 'Montserrat';
    }

    .cene {
        @media screen and (max-width:766px) {
            text-align: center;
            text-align: center;
            border-top: 1px dashed #333;
            padding-top: 24px;
        }
    }
}